
.navbar{
	margin-bottom: 0;
	color : black;
	border-width: 0;
	

}

.navbar-default .navbar-nav>li>a {
  color: #FFFCFC;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #FFFCFC;
  background-color: rgb(0, 181, 247);
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #FFFCFC;
  background-color: transparent;
}


.transparent-button
{
	  background-color: transparent;
	  color: white;
	  border-width: 1px;
	  border-color: white;
}


.verticaly-center
{
	float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.feature-chef
{
	 
	  color: black;
	  padding: 70px;
	  
	  margin-bottom: 20px;
	  border-radius: 25px;

	  padding-top: 8.5%;
      padding-bottom: 7%;


}
.float-right
{
	text-align: right;
}

@media (max-width: 767px) {
	 .xs-pull-left {
	  float: left !important;
	}
}


.top-nav
{
    background-color: black;
    border-radius: 0;
     
}


.message
{
	padding-left: 20px;
}

.full-width 
{
	width: 100%; 
}

#newDefinition
{
	padding: 5px
}

#selectionDefinition
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.borderRadiusRight{
	border-radius: 0 5px 5px 0;
}

.borderRadiusLeft{
	border-radius: 5px 0 0 5px;
}

.borderRadiusFive{
	border-radius: 5px;
}

