<nav class="navbar navbar-default top-nav ">
  <div class="container">
 <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" data-ui-sref="home()">GRE Word</a>
  </div>

  <div id="navbar" class="navbar-collapse collapse top-nav">
  
    <ul class="nav navbar-nav">
      <li ><a ui-sref="flashcard()">Flashcards</a></li>
      <li ><a ui-sref="matching()">Matching Game</a></li>
    
     </ul>
     <ul class="nav navbar-nav navbar-right col-xs-pull-12">
        <li><a data-ui-sref="manage()" class = "xs-pull-left pull-right">Manage</a></li>
     </ul>

   
  </div>
  </div>
</nav>
   