<div class="container marketing" >
    <h3>Flashcards </h3>
    <div class="well">
      <a  ng-href="http://dictionary.reference.com/browse/{{vm.selectedWord.word}}?s=t" target="_blank" class="checkbox-inline">{{vm.selectedWord.word}}</a>

    </div>

    <div class="well" ng-if="vm.isViewDefinition" >
      <p ng-repeat="meaning in vm.meanings">
         {{$index + 1}}: {{meaning}}
      </p>

    </div>
   
		<button ng-if= "vm.isViewDefinition === false" class= "btn btn-default" ng-click="vm.viewDefinition()">View Definition</button>
		<label class="message">  {{vm.message}}</label>

    <div ng-if= "vm.isViewDefinition">
      <button ng-if= "vm.isViewDefinition" class= "btn btn-success" ng-click="vm.correct()">Correct</button>
      <button ng-if= "vm.isViewDefinition" class= "btn btn-danger" ng-click="vm.wrong()">Wrong</button>
    </div>
</div>