<div class="container marketing">
    
    <h3>Pick the two words that mean the same thing</h3>
    
    <div class="well" ng-repeat="choice in vm.choices">
      <label class="checkbox-inline">
          <input type="checkbox" name="favoriteColors" ng-model="choice.isSelected"> {{choice.word.word}}
      </label>
      <a  ng-href="http://dictionary.reference.com/browse/{{choice.word.word}}?s=t" target="_blank" class="checkbox-inline pull-right"> link</a>

    </div>
  
  
    <button class= "btn btn-default" ng-click="vm.submit()">Submit</button>
    <label class="message">  {{vm.message}}</label>

</div>
 