<div class="container marketing" data-ng-controller="Homes as vm">   
   <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>Welcome To GRE Word</h1>
      <p class="lead"> You can do it Jeremy, get the score you want</p>
      
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-4">
        <h2>Flashcards</h2>
        <p>Practice GRE words that you do not know in order to expand your vocabulary.</p>
        <p><a class="btn btn-primary" ui-sref="flashcard()">Play »</a></p>
      </div>
      <div class="col-lg-4">
        <h2>Matching Game </h2>
        <p>Practice finding words with similar defintions by playing the matching game. Each time four words are shown and you must pick the two words that mean the same thing before getting a new set.</p>
        <p><a class="btn btn-primary" ui-sref="matching()">Play »</a></p>
     </div>
      <div class="col-lg-4">
        <h2>Manage</h2>
        <p>Manage allows you to add and delete matching words for the matching game. It also allows you to add words to the flashcard game 
          <p><a class="btn btn-primary" ui-sref="manage()" role="button">Manage »</a></p>
      </div>
    </div>

</div>
