
<div class="container marketing" >
        
        <h3>Manage matching definitions and words </h3>
        
        <div class ="row">

			<div class ="col-md-4">
				<input type="text" class="borderRadiusLeft col-xs-9" id="newDefinition" name="input" ng-model="vm.newDefinition">
				<button class= "btn btn-default borderRadiusRight col-xs-3" ng-click="vm.submitNewDefinition()">Add</button>
	        	
	        	<select size="12" class="full-width borderRadiusFive" id="selectionDefinition" ng-change="vm.defChange()" ng-model="vm.defSelected" ng-options=" def.definition for def in vm.matching"></select>
	    	</div>
	    	<div class ="col-md-4">

	         <textarea class="full-width borderRadiusFive" rows="12"  ng-model="vm.list" ng-list=", " ng-trim="false"></textarea>
	         
			 </div> 
			 <div class ="col-md-4 hidden-xs">
			 	 <pre>{{ vm.list| json  }}</pre>
			 </div>
		</div>

       
		<button class= "btn btn-default" ng-click="vm.submitMatching">Submit</button>
		<label class="message">  {{vm.message}}</label>
		
		<h3>Add Flashcard words</h3>
		<div class ="row">
			
			<div class ="col-xs-12">
				<input type="text" class="borderRadiusLeft col-xs-9" id="newDefinition" name="input" ng-model="vm.newWord">
				<button class= "btn btn-default borderRadiusRight col-xs-3" ng-click="vm.submitNewWord()">Add</button>
				
	    	</div>
	    	<div class ="col-xs-12">
					<label class="message">  {{vm.flashcardMessage}}</label>
	    	</div>
	    
		</div>
		
      
</div>